[2013-06-21 17:40] jbphet opened #1 "False hit detect on BucketFront appears to be an issue with Kite"
J Olson and I looked at this together yesterday (6/20/2013), so I'm creating this issue to track the progress.  The issue can be seen by running this version of the Build an Atom simulation - http://www.colorado.edu/physics/phet/dev/html/build-an-atom/0.0.0-10/build-an-atom.html - and clicking around in the area above the center of the nucleus.  Eventually, and electron will pop out of nowhere.  T

[2013-06-26 18:00] #1 closed, assigned to jonathanolson

[2013-08-09 05:49] jonathanolson opened #2 "LineStyles lineDash should probably initialize to [] instead of null (and be handled as such everywhere)"
See https://github.com/phetsims/scenery/issues/101

[2013-08-30 05:32] jonathanolson opened #3 "Add indeterminate state in intersection testing"
We need to add an indeterminate intersection result so that intersections along tangents or points can be retried with another ray angle. For the visual shape test, we should show these as yellow, so they can be verified manually.

Reproducible error condition (added to playground):

[code]

[2013-08-30 05:34] jonathanolson opened #4 "Reduce object allocations"
This is particularly needed in "inner-loop" code, of which the biggest is segment.windingIntersection, but also getStrokedShape().

Needed for performance gains.

[2013-08-30 05:38] jonathanolson opened #5 "Shear transform broken for arc/elliptical arc"
Noted from old TODO, verified with visual-shape-test.html

[2013-08-30 05:39] jonathanolson opened #6 "SVG-style ellipticalArcTo not implemented"
This is needed for full SVG path handling generated by our parser.

[2013-08-30 05:41] jonathanolson opened #7 "Transformed circles sometimes break"
Circle transform seems to break, probably not exactly 2pi anymore. Probably necessary to set flags on Arc/EllipticalArc of whether they are exactly containing all points.

[2013-08-30 05:44] jonathanolson opened #8 "Miterlimit not properly respected on shear-transformed corners?"
Not reproduced, noting TODO item: Stroking miterlimit on shear-transformed shape seems to not happen. normal-shear a rectangle

[2013-08-30 05:46] jonathanolson opened #9 "General computation robustness"
Notes from TODO:
- Robustness:
  - Finiteness checks a la WebKit?
  - General usage of epsilon!
  - Ray Intersections:
    - Need general 'ambiguous' flag for intersection, so we can choose a new ray (or know that it's almost on a curve)
      - Choose 2^-12 as Epsilon?
    - Cases:
      - Parallel and on top of line
      - Endpoints (don't include start, but include end, if exactly equal)

[2013-08-30 05:47] jonathanolson opened #10 "Consider removing segment 'points', only keep last one?"
They are somewhat parallel to the segment start/end, and generally not needed (duplicate information).

[2013-08-30 05:47] jonathanolson opened #11 "Move circle intersection routine into Dot"

[2013-08-30 05:49] jonathanolson opened #12 "Add Scenery-like rendered shape unit test comparisons"
If we have a regression, we should spot it with pixel-style comparisons.

It may also make sense, instead of rendering the shapes using browser-specific canvas, to instead run many containsPoint() calls and create an image from that. Then comparing that image to a fresh one will work across browsers (presumably).

[2013-08-30 05:50] jonathanolson opened #13 "Reduce code size of the SVG parser"
Possibly don't use the pegjs-generated parser, or just share more states in the grammar.

[2013-08-30 05:51] jonathanolson opened #14 "Bezier curve bounds can be much faster if we examine monotonic curve endpoints"

[2013-08-30 05:52] jonathanolson opened #15 "Test code generation + eval to create a faster shape-drawing function"
Maybe a custom function can be compiled down into faster code.

[2013-08-30 05:54] jonathanolson opened #16 "Properly implement intersection with bounding box"
This is NOT intersection of the shape's bounding box with another bounding box, but the actual shape intersecting the bounding box (sometimes it won't even if the bounding boxes intersect.

If this is just as fast, we can avoid certain computations in Scenery because we can determine they don't affect certain rectangular regions.

[2013-08-30 05:55] jonathanolson opened #17 "Faster upper-bound bounding box"
In many cases, an upper-bound on the bounding box is much faster to compute than an accurate bounding box.

Using this where necessary can lead to major speed improvements.

[2013-08-30 05:56] jonathanolson opened #18 "Fast no-guarantee tests for intersection, bounds, etc."
Sometimes a quick 'yes or unknown' or 'no or unknown' test will help significantly, when we don't want to do the full yes/no computation.

[2013-08-30 05:58] jonathanolson opened #19 "Add line-dash stroking into our stroking algorithm"
Necessary in some cases, since IE9 doesn't support line dashes in both canvas and SVG.

[2013-08-30 06:02] jonathanolson opened #20 "CSG / WebGL / simplification / intersection / polygonalization / tesselation"
Related snippets from the TODO file.

Intersection:
- see http://cagd.cs.byu.edu/~557/text/ch7.pdf
- Sweep-line handling: http://www.lems.brown.edu/~wq/projects/cs252.html

CSG:
- Will rely on region support + clipping algorithms
- Union / difference / intersection / XOR. consider a NOTHING and EVERYTHING shape like bounds?
- As a stop-gap, http://sourceforge.net/p/jsclipper/wiki/Home/ will handle

[2013-08-30 06:03] jonathanolson opened #21 "Consider additional flags for subpaths"
Storing direction (undefined, CW, CCW) for each subpath, allows us to fill certain shapes in the same command depending on nonzero/evenodd.

Storing invert flag for Shape (allow drawing or CSG for outside of shape?) - may be unnecessary with CSG operations, but having something that indicates "everything outside of this shape" may be useful.

[2013-08-30 06:04] jonathanolson opened #22 "Adaptive bezier curve discretization"
Adaptive bezier discretization / offset curves, see attached paper
- "Fast, precise ﬂattening of cubic Bezier path and offset curves" Hain, Ahmad
- Quadratic curve offsets need implementation improvement (32 sub-quadratics is too costly)
  - Consider a more abstract segment like QuadraticOffset, CubicOffset, EllipticalArcOffset.
    - Transforming + offsets are easy
    - Can discretize later

[2013-08-30 06:05] jonathanolson opened #23 "Shape.polygon( vertices )"
Easy construction of polygonal shapes from a list of vertices.

[2013-08-30 06:06] jonathanolson opened #24 "Efficient bounding boxes over arbitrary transforms"
Instead of transforming the shape and determining the bounding box, can we simply compute the bounding box given the transform?

May be useful for Scenery with Node's isInGlobalBounds( globalBounds, currentTransform ).

[2013-08-30 06:07] jonathanolson opened #25 "Bezier TODO"
Bezier:
- Degree elevation to Cubic
- Inflection points
- Split into monotonic segments. Bounds are easy (just from endpoints), should be ideal for intersection code

[2013-08-30 06:07] jonathanolson opened #26 "Segment: find closest t value for a given point"

[2013-09-10 23:51] jonathanolson opened #27 "Bounds on a bucket shape are incorrect"
Will have the Shape reference soon (it has a currently-unparseable "M -200 0 L -160 -140 C -120 -170 120 -170 160 -140 L 200 0 A 200 25 0 1 0 -200 3.061515884555943e-15 Z" for a SVG path, since we don't handle the elliptical relative arcTos yet).

![bucket-bounds](https://f.cloud.github.com/assets/480878/1119369/e5addc7c-1a73-11e3-8946-d7efd9b22a55.PNG)

[2013-09-11 00:26] #27 closed, assigned to jonathanolson

[2013-09-19 17:13] #23 closed, assigned to jonathanolson

[2013-09-19 17:26] #2 closed, assigned to jonathanolson

[2013-10-12 14:55] jonathanolson opened #28 "Laziness in internal APIs"
For example, don't initially compute startTangent, endTangent, bounds and validity (and other segment-specific things). Instead, getBounds() / getStartTangent() / etc. will compute lazily, so that if Shape bounds or other details are not needed, they will not be computed, AND we will end up creating fewer objects.

This will be important for the planned Scenery changes that will potentially involv

[2013-10-12 15:03] jonathanolson opened #29 "Consider mutability options in APIs"
Consider allowing updates directly to Vector2 instances, since they would be shared by the before/after segments? Consider keeping the call history so it can be modified? Are there other ways to provide hooks into the path to only modify part of it?

Also many times when we want a modified Shape, it is common for the entire Shape to change. An 'input vectors dirty' flag may do really well until we

[2013-10-17 22:08] pixelzoom opened #30 "add CAG (Constructive Area Geometry) support"
This could be used immediately in graphing-lines.

[2013-10-24 22:35] jonathanolson opened #31 "Decide on stroke behavior for degenerate segments"
Last time I checked, this varied greatly between different browsers.

[2013-10-28 17:12] #28 closed, assigned to jonathanolson

[2013-10-28 17:12] #25 closed, assigned to jonathanolson

[2013-12-07 04:27] samreid opened #32 "Spline segments for Kite"
In https://github.com/phetsims/energy-skate-park-basics/issues/34 we discussed providing splines directly in Kite, so they could be used directly in scenery Paths, for instance

[2014-03-31 20:21] jonathanolson opened #33 "Add path length"
Should be mostly easy, although we may need to decide on how to handle non-analytic situations (how to integrate for the elliptical arc lengths, etc.)

This should be the sum of the length of all segments, ignoring any "move" commands, etc.

[2014-04-04 20:46] samreid opened #34 "Incorrect hit area for trapezoid"
I noticed an incorrect hit area for this trapezoid in Seasons:

M 415 298.5 L 414.99999999999994 94.5 L 468.596798162286 101.08659447295564 L 468.59679816228606 291.91340552704435 Z

![kite-map](https://cloud.githubusercontent.com/assets/679486/2620179/20522258-bc3a-11e3-9c55-38cc51766494.png)

[2014-04-10 20:49] jonathanolson opened #35 "Automatically add "closed segment" on closing?"
Should make a decent chunk of Kite code much more readable and less error-prone.

Will need to check for everywhere we scan through segments but wouldn't use a closing segment.

[2014-04-10 21:03] #34 closed, assigned to samreid

[2014-06-27 01:07] pixelzoom opened #36 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-08-28 00:45] jonathanolson opened #37 "Kite stroke on ellipse1 test broken"

[2014-09-24 04:27] veillette opened #38 "problem with smoothQuadraticCurveTo()"
smoothQuadraticCurveTo() is currently equivalent to lineTo().

[code]

![bug_report](https://cloud.githubusercontent.com/assets/7633344/4383453/007ae082-43a3-11e4-8fea-3aa47204ad60.PNG)

The problems lies in the control point that is invoked in getSmoothQuadraticControlPoint().

When you used lineTo, you get a line from an initial point to a destination point. For an array of points, an automatic

[2014-09-24 05:52] #38 closed, assigned to jonathanolson

[2014-12-16 17:56] jonathanolson opened #39 "Shape's getStrokedShape should be optimized"
It's a bottleneck in Scenery node creation.

[2014-12-16 22:42] pixelzoom opened #40 "documentation URLs in Shape are broken"
Example, Shape line 182:

[code]

Since this (and other functions) have no JSdoc, the URL is presumably serving as documentation. The problem is that the above URL (and others in Shape) don't work.  Looks like the broken ones are anything that ends with 'the-canvas-element.html#_____'.

[2014-12-18 18:34] #40 closed, assigned to nobody

[2015-01-06 20:57] pixelzoom opened #41 "incorrect LICENSE file?"
package.json shows that kite is MIT license, but the LICENSE file does not show an MIT license.

[2015-01-06 21:10] #41 closed

[2015-01-07 23:37] jonathanolson opened #42 "Remove production-config"
See details in https://github.com/phetsims/scenery/issues/344 and its changeset.

[2015-02-05 19:20] #42 closed

[2015-03-01 08:25] jonathanolson commented on #13
It looks like after minification the parser is ~18 kB.

[2015-03-01 14:25] samreid commented on #13
Can you elaborate on what the SVG parser is, and when it is used?

[2015-03-01 19:08] jonathanolson commented on #13
It basically parses SVG path strings and applies it to a Shape. Used for testing, loading serialized paths, for font awesome, etc.

Handwriting a parser can probably result in a much smaller size.

[2015-03-31 20:50] pixelzoom opened #43 "branch: pixi.js"
Please describe. Possibly related to https://github.com/phetsims/scenery/issues/419.

[2015-04-01 00:49] jonathanolson commented on #43
I'm not familiar with it.

[2015-04-01 04:56] samreid commented on #43
This branch demonstrates an exciting but possibly impractical way to convert shapes to pixi graphics.  If/when we continue with pixi we may wish to review this again.

[2015-04-01 15:20] notsiddhartha opened #44 "Should Shape.getSVGPath use equalsEpsilon"
Should the below line in Shape.js line 384, getSVGPath method be
[code]
instead of
[code]

[2015-04-01 15:20] samreid commented on #44
@jonathanolson can you take a look at this?

[2015-04-06 06:26] jonathanolson commented on #16
Requested for SASS sim, bumping priority.

[2015-04-06 06:28] jonathanolson commented on #16
Will plan to implement in Segment itself as a general pattern, with subtypes able to provide optimizations later. Either bounds of the segment are completely contained within the bounding box, or one of the bounding box's edges will intersect the segment (1 bounds intersection and 4 ray castings that can be done for any segment).

[2015-04-06 16:51] #16 closed

[2015-04-24 23:39] bereaphysics opened #45 "Implement cardinal splines in Shape"
A sequence of Cardinal spline can be used to interpolate any number of points smoothly.
Unlike Bezier and b-splines, cardinal splines will necessarily go though the specified points. This
Ultimately, it would be good to have support for a method that takes an array of points and output a shape that passes through all the points.

This paper: http://therndguy.com/papers/curves.pdf goes into some de

[2015-04-30 16:57] jonathanolson commented on #11
Looks a bit customized for Kite, closing.

[2015-05-03 18:09] bereaphysics commented on #45
Here is what I had in mind

[code]

[2015-05-03 21:43] jonathanolson commented on #45
Looks good. There are a few modifications I'd probably make to integrate it, do you mind if I add it to Kite?

[2015-05-03 22:33] bereaphysics commented on #45
please go ahead

[2015-05-04 01:33] samreid commented on #45
I wonder if this spline algorithm would work for energy skate park basics which also has the constraint that the spline must pass through the control points.  I believe right now energy skate park uses pairwise cubic splines: x=cubic1(t), y=cubic2(t)

[2015-05-12 06:37] jonathanolson commented on #45
I've added an initial implementation, Shape's cardinalSpline().

I was expecting a smooth curve, but for my first test spline, there's a 90-degree turn between the bottom two cubics:

![screen shot 2015-05-12 at 12 32 27 am](https://cloud.githubusercontent.com/assets/480878/7581284/6e9129c8-f83e-11e4-8bb9-6a69f9bf72c4.png)

The cyan is the tangent at the end of each cubic segment, and the magenta

[2015-05-12 06:39] jonathanolson commented on #45
Also, if it helps, you can use Kite's playground.html, as it loads Kite and dependencies into the console. Uses kite.Shape and dot.Vector2.

I added the above shape to the visual-shape-test.html (which can be visited in the browser). By clicking the "spline" button (last Shape button), you'll be able to see what the path will end up like.

[2015-05-12 06:43] jonathanolson commented on #45
Also, I changed a few things about the implementation. We don't move to each segment (since that was causing issues with strokes, since it was painting end caps where joins should be), and we don't force a new subpath at the start with a move (it works more like other equivalent operations, so you can do two different cardinal splines in a row, and if they start/end at the same point, it will use

[2015-05-12 17:44] bereaphysics commented on #45
Indeed this is not the correct behavior.

It is fixed in the previous commit. Tension was set to zero

![image](https://cloud.githubusercontent.com/assets/7633344/7594041/4ac065e2-f89b-11e4-96ed-96ba2e788789.png)

and when setting isClosedLineSegments:true

![image](https://cloud.githubusercontent.com/assets/7633344/7594081/a2bd02be-f89b-11e4-9138-07fcdff1bea0.png)

There is still a problem with s

[2015-05-12 18:09] bereaphysics commented on #45
Tension of 1 means that in
[code]

which gives becomes equivalent to
        var bezierPoints = [
          cardinalPoints[ 1 ],
          cardinalPoints[ 1 ],
          cardinalPoints[ 2 ]
          cardinalPoints[ 2 ]
        ];
and then our starting point is bezierPoints[ 1 ] and we ask

 this.cubicCurveToPoint( bezierPoints[ 1 ], bezierPoints[ 2 ], bezierPoints[ 2 ] );

this is just a straight

[2015-05-12 18:12] bereaphysics commented on #45
any opinion @jonathanolson

[2015-05-12 18:14] pixelzoom commented on #45
+1 for disallowing `tension=1`, preferably via an assertion.  I don't like silently using `tension=1 - epsilon`, because that's not what the programmer specified.

[2015-05-12 18:36] bereaphysics commented on #45
that sounds reasonable. I'll go ahead and implement it.

[2015-05-12 19:49] jonathanolson commented on #45
Cubic is supposed to handle degenerate segments properly, I'd like to see why that is failing.

[2015-05-12 19:57] jonathanolson commented on #45
Looks like there's an unimplemented bit in Cubic to handle that specific case, I'd like to fix that instead, and allow tension=1.

[2015-05-12 19:57] bereaphysics commented on #45
did you see
else if ( arePointsCollinear( start, control1, end ) && arePointsCollinear( start, control2, end ) ) {
        throw new Error( 'TODO, use extrema T funcs' );

[2015-05-12 20:02] jonathanolson commented on #45
Yes, that's the part. The tricker part is if the points are visually collinear like the following:

control 1     start            end           control2.

Then you have to determine the extrema points on the curve, and draw lines from start => extrema 1 => extrema 2 => end.

[2015-05-12 21:26] jonathanolson commented on #45
Ok, it should now work seamlessly for all tensions in range [-1,1]. Example splines in one Shape with rounded joins:

![kite-spline-closed](https://cloud.githubusercontent.com/assets/480878/7598894/fe0878a0-f8ba-11e4-8b6c-7ede80407c14.PNG)

If tension is 1 however, it turns into straight line segments, and thus will do mitered joins at each individual joint (whereas with tension < 1, it is a smoot

[2015-05-13 14:17] bereaphysics commented on #45
I need to revert this last commit

[2015-05-13 20:30] bereaphysics commented on #45
I fixed the documentation to state that tension=1 is allowed. Thanks @jonathanolson . Closing

[2015-05-13 20:30] #45 closed

[2015-05-22 19:34] pixelzoom commented on #37
Insufficient info in this issue for me to evaluate it. Since it's labeled "bug" and the title says "broken", I'll err on the safe side and label it "Summer 2015 redeploy".

[2015-05-22 19:36] pixelzoom commented on #30
Removing the "high priority" label, because it's not.

[2015-05-22 19:39] pixelzoom opened #46 "identify kite issues for "Summer 2015" redeploy"
I took a stab at this, but I can't evaluate kite issues, many of which have terse or no descriptions.

Assigning to @jonathanolson. Please assigning label "Summer 2015 redeploy" where appropriate, then close this issue.

[2015-05-22 20:11] pixelzoom commented on #46
Moving this to https://github.com/phetsims/tasks/issues/251. Closing.

[2015-05-22 20:11] #46 closed

[2015-05-23 04:03] jonathanolson commented on #37
Good excuse to tackle it! Turns out that Kite's stroking logic for line caps and line joins was assuming it was getting normalized tangent vectors, whereas Segment's startTangent/endTangent aren't normalized (they are dx/dt, dy/dt). Caused the line-cap on the elliptical arc to be significantly shortened (when Kite did the stroking with getStrokedShape()).

The proper normalization is now in place,

[2015-05-23 04:03] #37 closed

[2015-05-23 04:24] jonathanolson commented on #36
See above commit, let me know if there is anything else.

[2015-05-23 04:30] jonathanolson commented on #7
@pixelzoom, is this needed for the redeploy, or can I un-tag it? Does not affect any deployed sims.

[2015-05-24 01:34] #36 closed

[2015-05-24 01:37] pixelzoom commented on #7
@jonathanolson If you're confident that no sims are using this feature, then feel free to remove the "Summer 2015 redeploy" label.  I have no idea when the problem was introduced, or whether there are sims that might begin to hit this problem when redeployed.  Out of curiosity, what are you searching for to determine that no sims are affected?

[2015-05-26 15:58] jonathanolson commented on #7
Just checked for all usages of ".transformed(", and rotations were only being applied to rectangles at the moment. Removing label for now.

[2015-06-04 16:23] jessegreenberg commented on #30
This would be very helpful in Capacitor Lab, shapes in that sim were mostly put together using CAG.  It is not critical though, I can still redraw shapes using arcs and z layer ordering.

[2015-06-10 13:57] ChandrashekarBemagoni opened #47 "In Line.js s (s= is distance of intersection point from the ray position ) should be more accurate"
Can the precision be increased like below

[code]
instead of

[code]

[2015-06-10 14:33] jonathanolson commented on #47
Made the commit, let me know if it works as expected.

[2015-06-10 15:09] ChandrashekarBemagoni commented on #47
It's worked for me

[2015-06-10 15:10] ChandrashekarBemagoni commented on #47
Thanks  , closing #47

[2015-06-10 15:10] #47 closed

[2015-06-10 17:47] pixelzoom opened #48 "document pegjs usage"
pegjs was apparently used to create svgPath.js.  It's unclear where pegjs came from, how it was installed, how it was used to get to svgPath.js, what the purpose of svgPath.pegjs is (intermediate file?), etc.

(1) Please document this somewhere, perhaps in svgPath.js if you think that's the best place.

(2) If there is a pegjs library that was used, please check it in to sherpa/lib, using the vers

[2015-06-10 17:49] pixelzoom commented on #48
[6/10/15, 11:46:46 AM] Jonathan Olson: OK, checked back in history. Never hooked to package.json, but did local installation of PEG.js 0.7.0. Had to modify the output in multiple ways (adding require.js block, properly setting up the defines).
[6/10/15, 11:47:40 AM] Jonathan Olson: documentation notes "generated from svgPath.pegjs, with added kite namespace and require.js compatibility", but it co

[2015-06-10 17:49] pixelzoom commented on #48
So is there also a missing entry in package.json?

[2015-06-10 18:38] jonathanolson commented on #48
It was easy enough to create a grunt task to process the svgPath.pegjs into svgPath.js (with minor structural changes to the output file).

See "grunt generate-svgPath-parser" in Kite's gruntfile, and please "npm install" before testing. The generated file should be reformatted with Intellij afterwards before committing (as noted in the grunt task output).

Let me know if this is sufficient, or if

[2015-06-10 19:48] pixelzoom commented on #48
I didn't test the grunt task, presumably @jonathanolson did that.  Doc looks good, closing.

[2015-06-10 19:52] pixelzoom commented on #48
Reopening because I didn't see mention of:

It looks like pegjs was added to devDependencies in kite/package.json, so presumably there is no need to add pegjs-0.7.0.js to sherpa/lib/.  @jonathanolson if that's indeed the case, say so and close this issue.

[2015-06-10 19:53] jonathanolson commented on #48
Yes, no need to have anything in sherpa since we're using package.json. Closing.

[2015-06-10 19:53] #48 closed

[2015-06-18 17:38] jonathanolson opened #49 "Fix acute angle side of stroked paths"
Right now we could allow it to take the naive approach:
![screen shot 2015-06-18 at 11 34 13 am](https://cloud.githubusercontent.com/assets/480878/8237651/228f53c8-15ae-11e5-8b90-12ecd80d8251.png)

We should instead have it stop at the proper corner when possible. This may require doing intersection between the offset segments.

[2015-06-25 15:06] pixelzoom opened #50 "replace toFixed with dot.Util.toFixed?"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Should we be using dot.Util.toFixed instead?

[2015-06-25 16:25] jonathanolson commented on #50
It's only used for 20 decimal places, the rounded result isn't displayed to users (just for setting SVG element properties, since it doesn't support scientific notation syntax), and it's in a place that could potentially cause a bottleneck in certain types of Scenery operations.

I have a slight preference for built-in toFixed just because it is probably faster, but I'd like to get your opinion. I

[2015-06-25 16:31] pixelzoom commented on #50
Documenting the requirement sounds fine.

[2015-06-25 16:35] jonathanolson commented on #50
Documented.

[2015-06-25 16:35] #50 closed

[2015-07-07 22:03] jonathanolson opened #51 "[branch] lazy-bounds"
See https://github.com/phetsims/scenery/issues/433

[2015-07-29 04:48] samreid commented on #43
I described it above.  Leaving issue open since the branch still exists.  Unassigning.

[2015-08-31 19:21] pixelzoom opened #52 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-03 06:02] AshrafSharf opened #53 "Excessive Vector2 instance allocation at Cubic.js"
@jonathanolson   I did some profiling on Gene Expression Basics and found three methods in Cubic.js is particularly generating too many Vector2 instances. I have noticed, you have already marked as TODO. Have referenced these methods below.

[code]

[2015-09-03 16:42] jonathanolson commented on #53
There now should only be 1 allocation for each function mentioned (the new value to return).

[2015-09-03 16:42] #53 closed

[2015-09-04 23:26] jonathanolson opened #54 "Ability to create a Shape from one or more segment types directly"
See https://github.com/phetsims/bending-light/issues/174#issuecomment-137877435 for a use-case, since we'd need to extract out the Arc to mutate. Much easier to directly create a Shape based on one segment.

It would be great to tell kite to use more than 1 connected (or unconnected) segments, also.

[2015-09-08 01:03] AshrafSharf opened #55 "Optimization of Vector2 instance allocation in ComputeCuspInfo"
@jonathanolson - The issue #53 made significant difference in performance. I found one more method "computeCuspInfo" in Cubic.js which is creating quite a few vector2 instances.

[code]

[2015-09-17 20:11] pixelzoom opened #56 "rectangle with 2 rounded corners"
From https://github.com/phetsims/sun/issues/197 ...

Add support (to Shape?) for creating a Shape that is a rectangle with 2 of its adjacent corners rounded, and the other 2 corners squared.

[2015-09-22 20:55] jonathanolson commented on #56
As a more general pattern, can we supply a cornerRadius for each corner, OR boolean flags for which corners are rounded, and which ones aren't?

I'd hate to have to handle "rectangle with 1 or 3 rounded corners" separately.

Thoughts?

[2015-09-22 21:00] samreid commented on #56
What if someone asks for a partially rounded triangle?

[2015-09-22 22:03] pixelzoom commented on #56
Then they have a blank slate to write their own, because there is no scenery.Triangle, and I don't see any triangle functions in kite.Shape.

[2015-09-22 22:05] pixelzoom commented on #56
Since the most common use case is to have the same radius for all rounded corners, this duplicates the problem that we have with scenery.Rectangle (https://github.com/phetsims/scenery/issues/467).

OK with me.

[2015-09-24 16:17] jonathanolson commented on #56
Any preferences between reusing Shape.roundedRectangle or a new function, and also between optional arguments for corners:
[code]
or more of an options pattern:
[code]
or any other combination?

[2015-09-24 16:18] jonathanolson commented on #56
Marked for developer-meeting as an API question.

[2015-09-24 17:47] pixelzoom commented on #56
9/24/15 dev meeting:

[code]

[2015-09-24 21:38] jonathanolson commented on #56
Completed, assigning for review, and to consider not including "CornerRadius" in every corner option. Any opinion on:
[code]

[2015-09-24 23:33] pixelzoom commented on #56
I guess the only reason to include "CornerRadius" in each option name would be if we think there will additional options. If we don't think there will be additional options, then I recommend renaming the `options` parameter to `cornerRadii`.   Any other opinions?...

[2015-09-28 16:28] pixelzoom commented on #56
Since `Shape.roundedRectangleWithRadii` is unlikely to be used for other types of rectangles, I think it's appropriate to change its signature to:

`Shape.roundedRectangleWithRadii( x, y, width, height, cornerRadii )`

where `cornerRadii` defaults to:

[code]

[2015-09-28 16:28] samreid commented on #56
The suggestion in https://github.com/phetsims/kite/issues/56#issuecomment-143797019 seems good to me.

[2015-09-28 16:42] jbphet commented on #56
+1 for https://github.com/phetsims/kite/issues/56#issuecomment-143797019.

[2015-09-29 15:58] jonathanolson commented on #56
Changed, assigning @pixelzoom for review.

[2015-09-29 19:33] pixelzoom commented on #56
:+1: Closing.

[2015-10-01 21:52] jbphet commented on #56
Reopening - I believe the convention in other PhET libraries is to specify 2D options with the x value first and the y value second, e.g. leftTop instead of topLeft (see Node.js in Scenery).  Shouldn't we follow the same convention here?

[2015-10-01 21:58] pixelzoom commented on #56
OK with me. Back to @jonathanolson.

[2015-10-02 15:02] samreid commented on #56
Yes, same convention please.

[2015-11-18 08:06] jonathanolson commented on #20
Had a few more thoughts about how to simplify the shape/region processing for this, and was able to break it up into conceptual chunks that are all pretty well defined and fairly simple. I'm quite a bit more confident that this is fully do-able in a more reasonable amount of time. What follows is basically a brain-dump about the plan.

Goals:
1. CAG (https://github.com/phetsims/kite/issues/30). Un

[2015-11-19 05:32] jonathanolson opened #57 "Faster bounds computation on shapes not affected by line-cap"
For https://github.com/phetsims/arithmetic/issues/117, here to track commits and not spam that issue, and also if this for some reason causes breaking changes.

[2015-11-19 05:33] #57 closed

[2016-02-29 18:49] jonathanolson commented on #8
Will re-open if rediscovered.

[2016-02-29 18:49] #8 closed

[2016-02-29 18:50] jonathanolson commented on #3
Will be handled as part of https://github.com/phetsims/kite/issues/9.

[2016-02-29 18:50] #3 closed

[2016-02-29 19:04] #11 closed

[2016-02-29 19:47] jonathanolson commented on #29
General support for this was added.

[2016-02-29 19:47] #29 closed

[2016-02-29 20:50] jonathanolson commented on #32
Updated "spine" title to "spline", as I was confused when looking over the issue list.

[2016-03-03 17:06] jonathanolson commented on #6
Bumping priority, this is continually bugging me by not being able to test certain SVG paths.

[2016-03-08 06:15] jonathanolson commented on #44
Looks like it was fixed.

[2016-03-08 06:15] #44 closed

[2016-03-10 17:49] jonathanolson commented on #51
Looks like it was merged to master.

[2016-03-10 17:49] #51 closed

[2016-06-20 14:45] pixelzoom opened #58 "bring documentation up to PhET standards"
6/16/16 dev meeting: Decided to create this issue, as a first step towards improving knowledge sharing.

@ariel-phet asked me to do this sometime after Function Builder 1.0.0 is published.

[2016-06-20 14:58] pixelzoom commented on #58
Taking a quick look through kite source...

Methinks that we'll need to have a dev discussion about:

(1) How to document options. I prefer to document them next to their default values in the `_.extend` call, @jonathanolson seems to document them elsewhere (usually in the function comment?)

(2) How to document duck typing. For example, suppose that I see parameter `v`, and it looks to be a vecto

[2016-06-20 15:00] pixelzoom commented on #58
The other thing that's going to be difficult is guessing what the intended visibility is for functions and properties. Visibility annotations are used inconsistently - sometimes present, something totally absent. Does their absence imply `@public`?  It would be very helpful to get direction from @jonathanolson on this.

[2016-06-22 20:45] jonathanolson commented on #58
Annotations issue noted in https://github.com/phetsims/kite/issues/52, I'll definitely want to be the one to note those.

Re (1), I don't have a strong preference, but I'd generally like options to be documented in one place, then have "see X" elsewhere. Options in certain styles (e.g. Scenery) use mutate(), so there is no _.extend. It also depends on whether there are setters or not.

Re (2), for

[2016-06-23 17:52] pixelzoom commented on #58
6/23/16 dev meeting:  I'm unlikely to get to this until after @jonathanolson returns from leave. And if I flesh out the documentation, I'll be guessing at some (much?) of it.  It will be more efficient and accurate if @jonathanolson handles this when he returns.  So assigning it to him.

[2016-07-04 16:41] veillette commented on #58
I was able to put visibility annotations in Shape, but for the other modules, it wasn't clear, So i didn't put any annotations. In any case this is tracked in #52.

There are a few methods I was not able to document

In Arc.js
- [ ] getActualEndAngle
- [ ] includeBoundsAtAngle
- [ ] containsAngle
- [ ] intersection

in Cubic.js
 Most of it was too arcane. Much remains to do

in EllipticalArc.js
-

[2016-07-04 16:45] veillette opened #59 "assertions in invalidate method of EllipticalArc"
[code]

I think you want to use, this_anticlockwise,  this._endAngle, etc
Assigning to @jonathanolson

[2016-07-04 16:51] veillette opened #60 "triggering in invalidate method of EllipticalArc"
The invalidate method of EllipticalArc does not send a trigger at the end, unlike Arc.js, etc.

[code]

I dont know if this is an oversight.

[2016-07-18 19:19] jonathanolson opened #61 "[branch] cleanup"
For handling documentation and cleanup related to https://github.com/phetsims/kite/issues/58

[2016-08-23 22:48] pixelzoom opened #62 "Shape doesn't properly document optional parameters"
Shape doesn't properly document which parameters are optional. For example, for `arc`:

[code]

The `anticlockwise` parameter is optional, and should have square brackets around the parameter name, to indicate that it's optional:

[code]

IntelliJ IDEA has gotten smarter, and is now flagging this as a problem.  E.g. for a call to `Shape.arc` in WavelengthSlider, it's complaining that the `anticloc

[2016-08-23 22:51] pixelzoom commented on #62
I handled this for `[anticlockwise]`, but I'm unsure if there are other such parameters in Shape. Assigning to @jonathanolson to review and correct any additional documentation errors.

[2016-09-15 22:08] pixelzoom opened #63 "regression tests are broken"
kite @733028991124bcea81c36b315f00e18453ba3d7b

http://localhost/~cmalley/GitHub/kite/tests/qunit/compiled-unit-tests.html

0 assertions of 35 passed, 35 failed.

![screenshot_18](https://cloud.githubusercontent.com/assets/3046552/18569243/a10f78ec-7b5e-11e6-9ec7-2c17b20c0f87.png)

[2016-09-15 22:09] pixelzoom opened #64 "use self for closure variable"
After discussion at 9/15/16 developer meeting, PhET has standardized on the name used for the closure variable whose value is `this`:

```var self = this;```

Please update this repository accordingly.  Looks like only 4 occurrences, so should be pretty quick. I'd do it myself, but the regression tests are currently in a broken state (https://github.com/phetsims/kite/issues/63).

[2016-09-15 22:14] samreid commented on #63
It looks like you are running the compiled unit tests.  Did you build kite first?

Here's the requirejs unit tests: http://localhost/kite/tests/qunit/unit-tests.html

[2016-09-15 22:16] samreid commented on #63
Build is failing, I'm not sure why:

Running "requirejs:development" (requirejs) task

Warning: Task "requirejs:development" failed. Use --force to continue.

Aborted due to warnings.

[2016-09-15 22:19] samreid commented on #63
Fixed build above, now I'm seeing tests pass for built and requirejs modes.  @pixelzoom can you review?

[2016-09-15 22:22] samreid commented on #64
Fixed above and unit tests are passing, and grunt is passing.

![image](https://cloud.githubusercontent.com/assets/679486/18569565/9f1449bc-7b60-11e6-9ced-932f9cc91f38.png)

@pixelzoom do you want to review?

[2016-09-15 22:28] pixelzoom commented on #63
I navigated to http://localhost/~cmalley/GitHub/kite/, was presented with a webpage, and (silly me) thought that pressing the "Test" button would be useful.

Kite now building, tests passing.

Assigning to @jonathanolson to put some useful information in kite/tests/README.md.

[2016-09-15 22:31] #64 closed

[2016-09-26 22:41] samreid opened #65 "Use chipper grunt build-js"
We should port kite to use chipper grunt build-js and delete copied grunt things.  Additional tasks that must be kept can be moved to chipper or chipper can run the extra tasks from kite.

See https://github.com/phetsims/scenery/issues/567

[2016-09-29 01:59] samreid commented on #65
In the above commit, I switched to chipper builds and confirmed the automated test harness for compiled versions is working correctly.

[2016-09-29 01:59] #65 closed

[2016-09-29 02:01] samreid opened #66 "Harvest useful tasks from old Gruntfile"
In #65 I forgot to harvest the old Gruntfile for useful tasks.

[2016-09-29 02:08] samreid commented on #66
It looks like the only task that was left behind is this one:

[code]

@jonathanolson should I resurrect it?

[2016-09-29 15:41] jonathanolson commented on #66
That's one we'll need. If the code needs to live in chipper, would that mean peg-js would need to be in chipper's package.json, or the sim's package.json?

[2016-09-29 16:03] samreid commented on #66
We could experiment with augmenting kite/Gruntfile.js globals before deferring to main gruntfile...

[2016-10-01 17:42] samreid commented on #66
The strategy used in https://github.com/phetsims/dot/issues/64 will work well here.

[2016-10-01 17:48] samreid commented on #66
I restored the path parser generator above, @jonathanolson can you please take it for a test drive?

[2016-10-06 05:44] jonathanolson opened #67 "Use Emitter instead of Events"
See https://github.com/phetsims/scenery/issues/490 for details, brought up for https://github.com/phetsims/sun/issues/270.

[2016-10-06 05:59] jonathanolson commented on #66
Looks great, thanks!

[2016-10-06 05:59] #66 closed

[2016-10-06 07:16] jonathanolson commented on #63
Added notes that compiled tests require building first, and updated build instructions for 'grunt build-js'

[2016-10-06 07:16] #63 closed

[2016-10-07 03:44] jonathanolson commented on #61
Merged to master.

[2016-10-07 03:44] #61 closed

[2017-02-02 19:59] #59 closed

[2017-02-02 20:00] #60 closed

[2017-03-07 18:06] pixelzoom opened #68 "parseFloat called with radix argument"
`parseFloat` is used in svgPath.js with a radix argument, i.e.:

[code]

`parseFloat` does not have a radix parameter, someone is confusing it with `parseInt`.

svgPath.js looks like generated code, so perhaps we shouldn't worry about it.  But I'm not familiar with what the thing that generated it ("Generated by PEG.js 0.7.0.") or how it was generated.

@jonathanolson your call.

[2017-03-07 19:21] jonathanolson commented on #68
Fixed and made it a multi-line comment for increased visibility. Look good?

[2017-03-07 19:23] pixelzoom commented on #68
👍 Closing.

[2017-03-07 19:23] #68 closed

[2017-04-19 19:31] jonathanolson commented on #20
Lack of implementation causing problems for https://github.com/phetsims/proportion-playground/issues/58.

Furthermore, it looks like the Loop-Blinn method would be the best.

The initial steps for an EdgeGraph would be to
1. Determine if segments overlap continuously. If so, record and split where necessary.
2. Determine if segments intersect. If so, record & split.
3. Determine if the new segment

[2017-04-20 22:01] Denz1994 opened #69 "Vector Rendering Update Error"
While working with @samreid in Masses and Springs we discovered that the startPoint and subpath.getFirstPoint() are not equal and thus firing an error.

Steps to reproduce:

1. Start Masses and Springs sim
2. Select Vector Screen
3. Select Velocity Vector in visibility panel
4. Drag mass and attach to spring so it oscillates
5. Stop spring using stop sign button next to the spring hanger.
6. Drag

[2017-04-20 22:07] samreid commented on #69
I committed a workaround for MassNode.  You can uncomment any of the `if ( Math.abs( springForce ) < 1E-6 ) {` lines to get the bug back.

[2017-04-20 22:55] jonathanolson commented on #69
The mutation of Shape points triggered the assertion (since the assertion was written before the mutability was supported). There's no good way for the assertion to help (or for Kite to internally track those point changes), so I've removed the assertion.

[2017-04-20 22:55] #69 closed

[2017-05-01 20:08] jonathanolson opened #70 "Circles and ellipses not automatically closed"
e.g. `new Shape().circle( ... ).circle( ... )` would have a line segment between the two circles.

I'll plan to fix this up to be more like .rect() so that it closes.

[2017-05-01 20:11] pixelzoom commented on #70
Ditto for `ellipse`, `ellipticalArcToRelative` and possibly others.

Also... `Shape.circle` (static) returns a closed circle in one case, unclosed in the other.

[2017-05-01 20:18] jonathanolson commented on #70
Should be fixed. @pixelzoom can you confirm?

I did not see any elliptical cases that would break when searching, and I think it's unlikely this would actively break anything used.

[2017-06-30 18:05] jonathanolson opened #71 "Cache SVG path fragments for segments"
They get recomputed a lot in some cases, and it seems to be adding CPU and GC loads.

[2017-06-30 18:06] jonathanolson commented on #71
Implemented.

[2017-06-30 18:06] #71 closed

[2017-08-04 23:31] jonathanolson commented on #6
Implemented, but leaving open, as we should switch the degrees rotation to radians (the parser should change to convert this value).

[2017-08-05 00:18] jonathanolson commented on #6
Done.

[2017-08-05 00:18] #6 closed

[2017-08-22 03:28] samreid commented on #58
This has been "top priority" for more than a year.  Is the priority label still accurate?  If so, is this problem getting the attention it needs?

[2017-10-05 16:40] jonathanolson commented on #14
We're using the monotonic sections to determine bounds, closing.

[2017-10-05 16:40] #14 closed

[2017-10-05 16:57] jonathanolson commented on #30
I've implemented the large bulk of cases for CAG (referenced some commits towards https://github.com/phetsims/kite/issues/20). `shapeUnion`, `shapeDifference', `shapeIntersection` and `shapeXor` (methods on `Shape`) are implemented. `getArea` and similar functions came for free.

Some outlines of the general CAG process exist in https://github.com/phetsims/kite/issues/20, but this issue is more su

[2017-10-05 16:59] jonathanolson commented on #20
Mostly complete, but triangulation and Loop-Blinn are not implemented (leaving open).

[2017-10-09 21:52] jonathanolson commented on #30
I will need to implement the curvature-based discrimination of half-edges when sorting incident edges to vertices. CLB has a case with a line and arc with the same tangent.

[2017-10-12 16:20] jonathanolson commented on #30
Implemented the curvature-based method described above.

Additional things added (which could benefit from review):

- Arc.intersect (arc-arc intersection)
- Arc.getCircleIntersectionPoint (circle-circle intersection)
- Shape/Subpath/Segment serialization/deserialization (Supports `shape.serialize()` to JSON, then `Shape.deserialize( json )` to create an equivalent shape with exact numerical preci

[2017-10-12 20:19] jonathanolson commented on #58
Just ran through and handled documentation to bring things up-to-standard. Every function should now have visibility/args/description/etc.

[2017-10-12 20:19] #58 closed

[2017-10-12 20:20] jonathanolson commented on #54
This is possible, via creating:

[code]

[2017-10-12 20:20] #54 closed

[2017-10-12 22:41] #33 closed

[2017-10-13 22:19] jonathanolson commented on #49
SVG spec has no details, and this isn't needed to properly render it (it seems right now). Just avoid stroke of a stroke, or CAG first should be fine.

[2017-10-13 22:19] #49 closed

[2017-10-16 20:02] jonathanolson commented on #20
IMPORTANT NOTE: Loop-Blinn is patent-encumbered (2007), so it's a no-go. A viable option (that wouldn't be using the implicit bezier forms for the shaders) would be to break them into piecewise-elliptical-arc segments based on the start/end tangents (which should look smooth enough for general use), and the implicit equation for ellipses is trivial.

[2018-05-10 18:42] pixelzoom opened #72 "add ability to draw combine multiple primitive shapes using one Shape"
I'd like to describe the "thought bubbles" in Color Vision (screenshot below) as one Shape, rendered as one Path.  It would be 4 ellipses, e.g.:

`var shape = new Shape().ellipse(...).ellipse(...).ellipse(...).ellipse(...);`

There's currently no way to do this without self-computing the starting point of each ellipse.

![screenshot_614](https://user-images.githubusercontent.com/3046552/39887749-3

[2018-05-11 17:25] pixelzoom commented on #72
I use `newSubpath` to draw the Color Vision "thought bubbles" using a single Shape, see above commit. I worked great.  Thanks!

[2018-05-11 17:25] #72 closed

[2018-07-19 00:04] jonathanolson opened #73 "Failure during getStrokedShape() with lineJoin 'round'"
Noticed by @chrisklus in NavigationBarSoundToggleButton. To reproduce, in kite's playground or:
[code]
Fails out with an assertion.

[2018-11-07 23:58] jonathanolson commented on #9
The ray intersections would have been helpful. Code for shape clipping ran into this, e.g.:
[code]
since the ray is shot to the right. It should return "ambiguous" and another direction should be chosen.

[2018-11-09 18:13] jonathanolson opened #74 "Intersection failure in CLB"
It can be reproduced with the following:
[code]

See https://github.com/phetsims/capacitor-lab-basics/issues/251

[2018-11-09 18:21] jonathanolson commented on #74
This looks related to the blackbody-spectrum issue, which can be reproduced with:

[code]

[2018-11-13 22:43] jonathanolson commented on #74
The blackbody-spectrum issue looks like our getOverlaps() functions don't handle large values well. The "relative" epsilon results in structures that are far away.

[2018-11-14 21:58] jonathanolson commented on #74
Ok should be cleared up with various kite commits.

[2018-11-14 21:58] #74 closed

[2018-11-14 21:58] jonathanolson commented on #9
May consider: https://members.loria.fr/SLazard/BellairsWorkshops/Bellairs-2009/background/epsilon-geometry-guibas-salesin-stolfi.pdf

[2019-04-22 16:28] samreid opened #75 "Add Shape.zigZagTo"
I added zig-zag code for the filament for the fuse in Circuit Construction Kit, in https://github.com/phetsims/circuit-construction-kit-common/issues/479 and https://github.com/phetsims/circuit-construction-kit-common/issues/469.

![image](https://user-images.githubusercontent.com/679486/56511167-260c2b00-64e9-11e9-8d0b-cf567272436b.png)

I asked on Slack if the zig-zag code should be moved to com

[2019-04-22 17:16] samreid commented on #75
I moved this implementation from Circuit Construction Kit Common, and ported CCK to use it.  I opened new issues for code that looks like it should use this new implementation.  @jonathanolson can you please review?

[2019-04-28 18:26] pixelzoom opened #76 "70 TODO comments in kite"
Similar to https://github.com/phetsims/dot/issues/95.  There are currently 70 TODO comments in dot, with no associated GitHub issues.

Assigning to @ariel-phet to prioritize and assign.

[2019-04-30 21:31] Denz1994 commented on #75
@samreid Sims that require a symmetrical zig zag don't get drawn properly (see https://github.com/phetsims/capacitor-lab-basics/issues/258#issuecomment-486489352 and https://github.com/phetsims/faradays-law/issues/153#issuecomment-487789685).

I added a flag to determine which drawing pattern to use ( asymmetrical/symmetrical). It seems a bit hackish to have two drawing patterns in the same functi

[2019-05-07 21:33] jonathanolson opened #77 "Incorrect transformation of arcs in edge cases"
From https://github.com/phetsims/scenery-phet/issues/488

Details include:

I'm mostly confirming that this is manifesting only as a display-only problem.

It looks like `Shape.transformed` is not behaving correctly for a certain class of transforms (depending on the exact scale/translation) for the probe shape. This is used for the display, but NOT in the hit testing.

For instance a buggy case i

[2019-05-14 22:42] veillette commented on #75
The previous commit handles zig-zags for no-vertical orientation using the same API. Assigning to @jonathanolson  to review.

[2019-05-20 06:24] jonathanolson opened #78 "Intersection query failure with quadratics"
The following snippet:
[code]

will spawn too many intersection ranges, and will fail out due to memory limits.

[2019-05-23 02:33] ariel-phet commented on #76
For the moment, this is deferred. I do recognize the general issue here, and the hope is to address this (and related documentation/standards issues) after Density and Buoyancy are complete. I also recognize that we have continued to push this work back, but I will be strongly advocating for it once these sims get to the testing phase. No other real choice currently due to funding constraints.

[2019-05-30 22:31] samreid commented on #75
Unassigning since @jonathanolson is requested for review, but let me know if I should be reassigned.

[2019-06-04 17:43] jonathanolson commented on #75
Looks good to me!

[2019-06-06 17:19] samreid commented on #75
Thanks @jonathanolson.  This issue seems good and ready to close, but note there is still outstanding work to be done in https://github.com/phetsims/faradays-law/issues/153#issuecomment-498742921

[2019-06-06 17:19] #75 closed

[2019-06-18 16:33] samreid opened #79 "Reduce memory by using TinyEmitter instead of Events in Segment"
Discovered in https://github.com/phetsims/wave-interference/issues/399

This patch uses around 1% ~1MB less memory in Wave Interference, by using TinyEmitter instead of Events in Segment.

I'm not too familiar with Kite and I don't know if this patch is sufficient.  Also, will this have slightly better performance because it is using TinyEmitter direct calls instead of Events which requires key lo

[2019-06-18 16:47] samreid commented on #79
The same pattern can be applied in Subpath.  Not a significant memory savings there but it's nice to have a uniform approach:

<details>

[code]

</details>

Note I've used slightly different names for the emitters.  Not sure if that helps us keep them clear/searchable or if it's just more confusing.

[2019-06-18 17:06] jonathanolson commented on #79
Using TinyEmitter in kite sounds great. Would you want to commit those changes to a branch? I wasn't able to figure out yet how to apply those patches.

[2019-06-18 19:51] samreid opened #80 "branch: tinyemitter"
For https://github.com/phetsims/kite/issues/79

[2019-06-18 19:54] samreid commented on #79
I committed to a branch.  For future reference, WebStorm or IDEA can apply patches via "VCS" --> "Apply Patch From Clipboard".  I noticed Shape also employs Events for a similar purpose, but that isn't in the branch.

[2019-06-18 19:55] samreid commented on #79
Converting Shape seems straightforward-- it seem there are only usages in Shape and Path.

[2019-06-20 02:35] ariel-phet commented on #79
@samreid @jonathanolson while this is fresh in the mind and will help WI 2.0, lets make it happen. @samreid would be ideal to be done before publication.

[2019-06-26 00:14] samreid commented on #79
This is one of the last issues marked for Wave Interference 2.0.  Let me know if I can do anything to help.

[2019-06-26 05:50] jonathanolson commented on #79
Looks good. Added the Shape/Path conversion, merged to master. @samreid can you verify those changes?

[2019-06-26 14:35] samreid commented on #79
The changes look good.  Do you want to keep these error-checking lines?

[code]

If I understand correctly, `on` and `onStatic` are now undefined in Shape, so these would throw errors anyways (as would off and off static).  If we are keeping those error checking lines, we should have them check the entire API and apply that pattern in Segment.  But I'm presuming they were temporary and should prob

[2019-06-28 17:34] jonathanolson commented on #79
Yup, fixed, thanks for the catch!

[2019-06-29 02:13] samreid commented on #79
Looks great, thanks!  Closing.

[2019-06-29 02:13] #79 closed

[2019-10-17 23:42] zepumph opened #81 "LineStyles uses _.extend instead of PHET_CORE/merge"
From https://github.com/phetsims/phet-core/issues/71, this is because there is a usage of the type which passes in a constructed object (with a non-`Object` prototype) as options. With `PHET_CORE/merge` this is no longer allowed. @jonathanolson how would you like to proceed here?

[2019-10-24 16:50] jonathanolson commented on #81
Added LineStyles.copy() and using it, so we can use merge. Implemented above.

[2019-10-24 16:50] #81 closed

[2019-11-04 19:55] pixelzoom opened #82 "Shape.getOffsetShape fails when Shape is very small"
This was discovered in https://github.com/phetsims/vector-addition/issues/261, see history there. (A workaround was applied to move forward for that issue.) The Shape in that case was the ArrowShape associated with an ArrowNode, and the ArrowNode's dimensions were `1.5157520574185608e-15 x 12`.

[2019-11-05 16:25] ariel-phet commented on #82
@jonathanolson since this is no longer a blocking issue, it is not super high priority, however, while it is fresh in your mind, might be worth handling soon. Marking medium priority

[2019-11-27 04:40] samreid opened #83 "getStrokedShape leads to artifacts at certain corners"
From https://github.com/phetsims/circuit-construction-kit-common/issues/537#issuecomment-558917786

Shape.getStrokedShape is leaving kinks at the corners, see the triangles at the junctions.  Is this a shortcoming with Shape.getStrokedShape?  Am I doing something wrong?  Is there a way around it?

![image](https://user-images.githubusercontent.com/679486/69694172-28dd8880-1095-11ea-9ce2-8aef9d7109

[2020-11-02 22:25] oliver-phet opened #84 "Test workshop"

[2020-11-02 22:36] #84 closed

[2020-12-04 22:46] DianaTavares opened #85 "Diana test"

[2020-12-04 22:47] #85 closed

[2020-12-16 20:22] DianaTavares opened #86 "Workbook for Physics1 for high school that follow Mexican curriculum"
- [ ] Send an email to Orozco and Ruplex to set a meeting and discuss the way to work

[2020-12-16 20:23] #86 closed

[2021-01-15 22:11] jbphet opened #87 "Problem creating a loop that starts and ends at the same point using cubicCurveToPoint"
In the number-line-operation sim, I needed a shape where a loop started and ended at the same point on a number line.  The idea was to represent an operation with a value of zero.  Here's a picture:

![image](https://user-images.githubusercontent.com/3082831/104783380-20d22380-5743-11eb-8175-3456db38586d.png)

I was able to get this to work using `cubicCurveToPoint`, but I needed to add a small "t

[2021-01-28 19:23] jonathanolson commented on #87
Looks like a bug for sure, presumably with the degeneracy detection.

Reproducing Shape turns into 4 line segments:

[code]

[2021-02-03 23:09] jbphet commented on #87
Yep, I was able to remove the workaround code and the shape looks find now.

@jonathanolson - I think you can probably close this, but I wasn't sure if there was anything else that you wanted to verify.  I looked at the commit, and it roughly makes sense to me, but I don't have enough expertise in collinear cubic degeneracy to be able to truly evaluate it.

[2021-02-04 17:17] jonathanolson commented on #87
Sounds good, closing!

[2021-02-04 17:17] #87 closed

[2021-02-06 00:46] samreid opened #88 "Some font awesome shapes fail to render"
From https://github.com/phetsims/sherpa/issues/81.

These icons throw errors during Shape construction:

[code]

For instance, `Amazon` throws this error (when asserts are enabled):
[code]

The Firefox icon has another failure, when assertions are disabled, where NaN are leaking into the path commands.

[2021-02-06 02:28] samreid commented on #88
If I disable assertions, Amazon seems to render OK:

![image](https://user-images.githubusercontent.com/679486/107106327-4608fd80-67e8-11eb-98de-f36c98a23f8a.png)

[2021-07-13 17:33] pixelzoom commented on #77
This was reported again in https://github.com/phetsims/ph-scale/issues/222, and continues to be reported by QA.   It would be nice to address, so that's we're not spending QA/dev resources on the same issue repeatedly.

[2021-07-13 21:08] samreid commented on #77
This may be due to a sign error in EllitpicalArc.js, I should run a pixel comparison test and see if it shows any discrepancies.  @jonathanolson please chime in if the sign change seems good to you:

<details>

[code]

</details>

[2021-07-13 21:31] samreid commented on #77
I ran a snapshot comparison with that delta, without `showPointerAreas` and the following sims showed differences:

* balloons-and-static-electricity
* faradays-law
* fourier-making-waves
* friction
* gravity-force-lab
* gravity-force-lab-basics
* john-travoltage
* natural-selection
* neuron

Everything else is clear.  Let's try to narrow these down.

[2021-07-13 21:42] samreid commented on #77
I tested the top 3 and neuron and couldn't see any differences anywhere.  But I did notice many of these sims have keyboard navigation features.  Maybe it's there somewhere?

[2021-07-13 21:51] samreid commented on #77
I slacked dev-public:

@jonathanolson can you please review?

[2021-07-13 21:59] samreid commented on #77
In slack @pixelzoom said:

I replied:

We have hypothesized that it was a display-only bug, but from the fix, it looks like it would affect anything that was using EllipticalArc.getNondegenerateSegments when (a) radiusX===radiusY and (b) the rotation is nonzero.

I can only hope that no code was relying on the buggy behavior.  I tested several sims that rendered differently with the fix, and could

[2021-07-13 23:10] pixelzoom commented on #77
I've tested in my sims that use ProbeNode, and this fix looks good.  But I'm going to wait to close sim-specific issues until @jonathanolson has reviewed and closed this issue.

[2021-07-14 04:02] jonathanolson commented on #77
Looks like a perfect fix, thank you!

[2021-07-14 13:29] samreid commented on #77
Thanks, closing.

[2021-07-14 13:29] #77 closed

[2021-08-31 15:47] KatieWoe opened #89 "CT all returned solveCubicRootsReal roots should be finite"
[code]

[2021-08-31 18:24] samreid commented on #89
Assigning to responsible dev for initial triage.

[2021-09-02 00:07] jonathanolson commented on #89
I can trigger this with `dot.Utils.solveCubicRootsReal( -25.86251423252329, 41.33125272769773, 7.276667189056057,0.30451846343605116 )`.

[2021-09-02 00:24] jonathanolson commented on #89
@KatieWoe I believe this (and hopefully other cases) should be fixed by the above commit. Can you let me know if it shows up after?

[2021-09-02 17:09] KatieWoe commented on #89
Looks solved in CT

[2021-09-02 17:15] #89 closed

[2021-09-28 18:29] jonathanolson opened #90 "Slow bounds intersection (or will crash)"
From https://github.com/phetsims/geometric-optics/issues/163:

[code]

[2021-09-28 18:33] jonathanolson commented on #90
Looks like this creates ~21738100 BoundsIntersection instances, which probably takes up a good amount of memory.

[2021-10-04 19:27] jonathanolson opened #91 "Failure on intersection in winding map"
Looks related to https://github.com/phetsims/geometric-optics/issues/72

Reproduction:

[code]

[2021-10-04 23:14] jonathanolson commented on #90
Snapshot comparison looks good, closing.

[2021-10-04 23:14] #90 closed

[2021-10-27 05:23] kathy-phet opened #92 "WebGL Exploration"
Spend 20 hours in 2021 Q4 exploring advancement of WebGL

Related issues:
https://github.com/phetsims/kite/issues/20

[2021-11-03 19:46] pixelzoom opened #93 "Problem with Shape `intersection` return type."
Encountered while working on https://github.com/phetsims/geometric-optics/issues/229.

Geometric Optics makes calls to `Shape intersection`, which is defined as:

[code]

The `Array.<Intersection> ` type is problematic for TypeScript.  As far as I can tell, there is no such type, it's a non-existent abstraction used in documentation.

Segment.js says:

[code]

So can we simply change the return ty

[2021-11-03 19:49] pixelzoom commented on #93
By the way... Navigating to `Intersection` from Shape's `@returns {Array.<Intersection>} ` takes me to an unreleated class with the same name in bending-light.

[2021-11-05 00:17] pixelzoom commented on #93
After inspecting what `intersection` is returning in geomtric-optics, I change my method param to `{Array.<RayIntersection>}`, see above commit.  TS is happy now and requires no `@ts-ignore`.

[2021-11-11 16:23] pixelzoom commented on #93
👍🏻 closing

[2021-11-11 16:23] #93 closed

[2022-01-07 00:19] jessegreenberg opened #94 "Issue with Shape.containsPoint"
In https://github.com/phetsims/quadrilateral/issues/39 I found an issue with Shape.containsPoint. If the point being tested is perfectly vertically aligned with the start or end point of one of the shape segments an intersection with that segment will be undefined. This breaks the "winding intersection" algorithm that determines if a point is within a shape.

For example, we have this shape
![Inke

[2022-03-03 15:41] pixelzoom opened #95 "CT: Uncaught SyntaxError: The requested module './ops/Edge.js' does not provide an export named 'default'"
Slack dev-public:

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [8:39 AM](https://phetsims.slack.com/archives/C6HPE0J91/p1646321969517209)
CT is reporting this failure in several sims, including example-sim.  I don’t recognize the module ./ops/Edge.js.  Any ideas?

[code]

[Jonathan Olson](https://app.slack.com/team/U6E4HHSTF)  [8:39 AM](https://phetsims.slack.com/archives/C6HPE0J91/p1646

[2022-03-03 15:42] jonathanolson commented on #95
Hmm, looks like it has a default export:

https://github.com/phetsims/kite/blob/master/js/ops/Edge.js#L150

[2022-03-04 20:06] zepumph opened #96 "Import kite files from `imports.js`"
I added a lint rule to mimic the scenery one about importing from imports, instead of directly, and then I found myself needing to change thousands of files. Commits coming up! Tagging @jonathanolson

Lint rule added in https://github.com/phetsims/chipper/commit/1e6e531b35ab3759da04ed5e42f04a2180b0e589.

[2022-03-04 20:15] zepumph commented on #96
@jonathanolson, let me know if I should have done anything different, sorry I sorta fell into doing this work because I committed and pushed the lint rule too quickly. Feel free to close.

[2022-05-20 15:36] jonathanolson opened #97 "EllipticalArc intersection failure"
Reproducible in playground with:
[code]

The box intersection creates an infinite number of boxes. Noticed by @marlitas in fractions-intro (with fractions-common branch implementBeaker) when using the helper to inspect the beaker.

[2022-07-07 00:58] #92 closed

[2022-08-01 15:39] samreid opened #98 "Shape.union takes a really long time and sometimes says "Error: TODO: Need to implement more advanced disambiguation""
@marlitas and I were able to reproduce the bug reported in https://github.com/phetsims/mean-share-and-balance/issues/87 in both Mac/Safari and Mac/Chrome.  We isolated the problem to Shape.union which is being called in BeakerNode.

Perhaps the shapes being passed to Shape.union are triggering a difficult situation or corner case that kite is struggling with.

@marlitas and I will look for another